@font-face {
    font-family: Inter;
    src: url("../fonts/Inter_18pt-Regular.ttf");
}
@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
input,button{
    border: none;
    outline: none;
    cursor: pointer;
}
img{
    max-width: 100%;
    max-height: 100%;
}
:root{
    --mainColorText: #8B8E99;
    --cardBackColor: #F6F6F6;
    --btnColor: #3858D6;
    --titleThemeColor: #3858D6;
    --sectionsTitleFontSize: 36px;
}
.container{
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* header  */
.header{
    position: absolute;
    width: 100%;
}
.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    width: 100%;
}
.navCollaction{
    display: flex;
    align-items: center;
    gap: 27px;
}
.navItems{
    color: var(--mainColorText);
    font-family: Poppins;
    font-weight: 500;
    transition: .3s;
    position: relative;
}
.navItems:hover{
    color: var(--cardBackColor);
}
.dropDown{
    transform-origin: top;
    position: absolute;
    background: #333;
    width: 100px;
    transform: scaleY(0);
    text-align: center;
    border-radius: 20px;
    transition: .2s;
    padding: 15px 10px;
    line-height: 3;
}
.navItems:hover .dropDown{
    transform: scaleY(1);
}
.navBard{
    background: transparent;
    font-size: 2rem;
    display: none;
}

/* hero  */
.hero{
    background: linear-gradient(155.28deg, #383638 2.06%, #0B0B0B 33.08%);
}
.heroWrapper{
    min-height: 877px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroDesc, .heroImg{
    width: 50%;
}
.heroDesc h1{
    max-width: 440px;
    width: 100%;
    font-size: 64px;
    font-family: Poppins;
    font-weight: 700;
    color: #FFFFFF;
}
.heroDesc p{
    max-width: 459px;
    width: 100%;
    color: var(--mainColorText);
    font-family: Poppins;
    font-weight: 500;
}
.heroInput{
    margin-top: 47px;
    max-width: 443px;
    height: 60px;
    border: 15px;
    background: #FFFFFF;
    display: flex;
    align-items: center;justify-content: space-between;
    padding: 8px 9px 8px 15px;
    border-radius: 15px;
}
.int{
    display: flex;
    align-items: center;
    gap: 16px;
}
.int input{
    font-size: 16px;
    font-family: Poppins;
}
.intSearch{
    padding: 10px 20px;
    background: var(--btnColor);
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins;
    color: #FFFFFF;
    border-radius: 9px;
    transition: .3s;
}
.intSearch:hover{
    opacity: .9;
}
.heroImg{
    display: flex;
    justify-content: end;
}

/* type  */
.typeWrapper{
    margin-top: 73px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
}
.typeCard{
    background: var(--cardBackColor);
    max-width: 354px;
    width: 100%;
    height: 239px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.typecardDesc p:first-child{
    font-weight: 700;
    font-size: 36px;
    font-family: Inter;
}
.typecardDesc p:last-child{
    margin-top: 9px;
    max-width: 173px;
    width: 100%;
    font-family: Inter;
    font-weight: 500;
    color: var(--mainColorText);
}

/* latest  */
.latestWrapper{
    margin-top: 135px;
    text-align: center;
}
.latestWrapper > p:first-child{
    font-family: Inter;
    font-weight: 500;
    color: var(--titleThemeColor);
}
.latestWrapper p:nth-child(2){
    font-family: Inter;
    font-weight: 700;
    font-size: 36px;
}
.latestCardWrapper{
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 49px;
}
.latestCard{
    max-width: 334px;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    right: 0;
}
.cardDetiles{
    position: absolute;
    top: 0;
    right: 0;
}
.latestCardImg{
    background: var(--cardBackColor);
}
.latestCardImg img{
    margin: 29px auto;
    transition: .3s;
}

.latestCardImg:hover img{
    transform: scale(1.03);
}
.cardDetiles{
    position: absolute;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    right: -80px;
    transition: .3s;
}
.latestCard:hover .cardDetiles{
    right: 0;
}
.cardDetiles img{
    transition: .3s;
}
.cardDetiles img:hover{
    transform: scale(1.02);
}
.latestCardTitle{
    margin-top: 11px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
}
.latestCardRating{
    margin-top: 8px;
    margin-bottom: 8px;
}
.latestCardPrice del{
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: var(--mainColorText);
}
.latestCardPrice span{
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
}
.latestWrapper button{
    margin-top: 69px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    background: var(--btnColor);
    color: #FFFFFF;
    padding: 10px 50px;
    border-radius: 15px;
    transition: .3s;
}
.latestWrapper button:hover{
    opacity: .9;
}


/* people  */
.peopleWrapper{
    margin-top: 135px;
}
.peopleTheme{
    color: var(--titleThemeColor);
    font-family: Inter;
    font-weight: 500;
    text-align: center;
}
.peopleTitle{
    margin-top: 5px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.peopleCardsWrapper{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 47px;
}
.peopleCard{
    padding: 30px 42px 30px 34px;
    display: flex;
    align-items: center;
    gap: 28px;
    background: var(--cardBackColor);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.peopleCardTitle{
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
}
.peopleCardText{
    margin-top: 10px;
    max-width: 256px;
    width: 100%;
    font-family: Inter;
    font-weight: 500;
    color: var(--mainColorText);
    margin-bottom: 9px;
}


/* subscribeWrapper */
.subscribeWrapper{
    margin-top: 135px;
    background: var(--cardBackColor);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 33px 110px 33px 97px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.subsImg, .subsDesc{
    width: 50%;
}
.subsDesc{

}
.subsTitle{
    max-width: 547px;
    width: 100%;
    font-family: Inter;
    font-weight: 700;
    font-size: 36px;
}
.subsText{
    margin-top: 12px;
    max-width: 537px;
    width: 100%;
    font-family: Inter;
    font-weight: 500;
    color: var(--mainColorText);
}
.subsItn{
    margin-top: 31px;
    max-width: 443px;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.subsItn input{
    text-indent: 30px;
    color: var(--mainColorText);
    font-size: 16px;
    font-family: Poppins;
}
.subsItn button{
    padding: 15px 20px;
    background: var(--btnColor);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Inter;
    transition: .2s;
}
.subsItn button:hover{
    opacity: .9;
}
.subsImg{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(80px);
}


.footer{
    margin-top: 80px;
    background: #0B0B0B;
}
.footerWrapper{
    padding: 30px 0;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 30px;
}
.ftrTitle{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.ftrText{
    max-width: 200px;
    width: 100%;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
}
.ftrItmes{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
    color: var(--mainColorText);
    transition: .2s;
    line-height: 2;
}
.ftrItmes:hover{
    color: var(--cardBackColor);
}